# Ignore persistent user data
/data/v0/current_user.json
/data/v0/library.json

# Ignore scrap
/scrap

# Ignore Byebug command history file.
.byebug_history

# Ignore client application package
/v0/client/package.js
